services:
  simulator:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    privileged: true
    volumes:
      - ./.submissions:/submissions
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2g

  rabbitmq:
      image: rabbitmq:3.12-management #remove management for NO gui
      container_name: rabbitmq
      ports:
        - "5672:5672" #rmq
        - "15672:15672" #gui
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
        RABBITMQ_DEFAULT_VHOST: /
      volumes:
        - rabbitmq-data:/var/lib/rabbitmq
      restart: unless-stopped

volumes:
  rabbitmq-data:
