services:
  code-runner:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MAX_CONCURRENT_MATCHES=1
      - PROD=true
    privileged: true
    volumes:
      - ./.logs:/tmp/submission
