services:
  simulator:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    privileged: true
    volumes:
      - ./.submissions:/submissions
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 2g
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped

  rabbitmq:
      image: rabbitmq:4.2.3-management #remove management for NO gui
      container_name: rabbitmq
      ports:
        - "5672:5672" #rmq
        - "15672:15672" #gui
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest
        RABBITMQ_DEFAULT_VHOST: /
      volumes:
        - rabbitmq-data:/var/lib/rabbitmq
      restart: unless-stopped
      healthcheck:
        test: rabbitmq-diagnostics check_running
        interval: 10s
        timeout: 10s
        retries: 5

volumes:
  rabbitmq-data:
